@page
@model AutoArsenal_App.Pages.Stock.ManufacturersModel
@{
    ViewData["Title"] = "Manufacturers";
}

<!-- Page Title -->
<div class="pagetitle">
    <h1>@ViewData["Title"]</h1>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">
                <a asp-page="../Index">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">@ViewData["Title"]</li>
        </ol>
    </nav>
</div>
<!-- End Page Title -->

<!-- Error message -->
@if (TempData["ErrorOnServer"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        Error: @TempData["ErrorOnServer"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}
<!-- End Error message -->

<!-- Search Bar -->
<div class="card">
    <div class="card-body">
        <div id="panelSearch" class="d-flex justify-content-between align-items-center">
            <div class="searchBarButton" style="margin:10px;">
                <a class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#createManufacturerModal">Create
                    New</a>
            </div>
            <form class="form-inline flex-grow-1 mr-2" id="searchBar">
                <input class="form-control w-100" type="search" placeholder="Search" aria-label="Search" />
            </form>
        </div>
    </div>
</div>
<!-- End Search Bar -->

<!-- Table -->
<div class="card">
    <div class="card-body">
        <h5 class="card-title">@ViewData["Title"]</h5>
        <div class="table-responsive">
            <!-- Table with stripped rows -->
            <table id="empTable" class="table table-hover table-striped table-bordered text-center">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Contact</th>
                        <th scope="col">Address</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody class="table-group-divider">
                    @if (Model.Manufacturers != null)
                    {
                        int count = 1;
                        @foreach (var manu in Model.Manufacturers)
                        {
                            if (!manu.IsDeleted)
                            {
                                <tr>
                                    <td>@(count++)</td>
                                    <td>@manu.Name</td>
                                    <td>@manu.Contact</td>
                                    <td>@manu.StreetAddress @manu.City, @manu.Province, @manu.Country </td>
                                    <td>
                                        <button class="btn btn-sm btn-success" data-bs-toggle="modal"
                                            data-bs-target="#editManufacturerModal"
                                            onclick="editManufacturer('@manu.Name','@manu.Contact','@manu.StreetAddress','@manu.City','@manu.Province','@manu.Country')">
                                            <i class="bi bi-pencil"></i>
                                        </button>
                                        <button class="btn btn-sm btn-danger" data-bs-toggle="modal"
                                            data-bs-target="#deleteManufacturerModal"
                                            onclick="deleteManufacturer('@manu.ID', '@manu.Name')">
                                            <i class="bi bi-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                            }
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5">No records found</td>
                        </tr>
                    }

                </tbody>
            </table>
            <!-- End Table with stripped rows -->
        </div>
    </div>
</div>
<!-- End Table -->


<!-- Add Manufacturer Modal -->
<div class="modal fade" id="createManufacturerModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-page-handler="AddManufacturer">

                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel"><i class="bi bi-plus"></i>Add Manufacturer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- Name -->
                            <div class="form-floating mt-2">
                                <input type="text" class="form-control" id="name" placeholder="Name"
                                    asp-for="Manufacturer.Name" />
                                <label for="name">Name</label>
                                <p class="invalid" id="nameError"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- Contact -->
                            <div class="form-floating mt-2">
                                <input type="tel" class="form-control" id="Contact" placeholder="Contact"
                                    asp-for="Manufacturer.Contact" />
                                <label for="Contact">Contact</label>
                                <p class="invalid" id="contactError"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- Address -->
                            <div class="form-floating mt-2">
                                <input type="text" class="form-control" id="Address" placeholder="Address"
                                    asp-for="Manufacturer.StreetAddress" />
                                <label for="Address">Address</label>
                                <p class="invalid" id="addressError"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- City -->
                            <div class="form-floating mt-2">
                                <select class="form-select" id="City" aria-label="Default select example"
                                    asp-for="Manufacturer.City">
                                    <option value="-1" selected>Select City</option>
                                    @foreach (var city in Model.Cities)
                                    {
                                        <option value="@city">@city</option>
                                    }
                                </select>
                                <label for="City">City</label>
                                <p class="invalid" id="cityError"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- Province -->
                            <div class="form-floating mt-2">
                                <select class="form-select" id="Province" aria-label="Default select example"
                                    asp-for="Manufacturer.Province">
                                    <option value="-1" selected>Select Province</option>
                                    @foreach (var province in Model.Provinces)
                                    {
                                        <option value="@province">@province</option>
                                    }
                                </select>
                                <label for="Province">Province</label>
                                <p class="invalid" id="provinceError"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- Country -->
                            <div class="form-floating mt-2">
                                <select class="form-select" id="Country" aria-label="Default select example"
                                    asp-for="Manufacturer.Country">
                                    <option value="-1" selected>Select Country</option>
                                    <option value="Pakistan">Pakistan</option>
                                </select>
                                <label for="Country">Country</label>
                                <p class="invalid" id="countryError"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="addBtn" disabled>Add</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Edit Manufacturer -->
<div class="modal fade" id="editManufacturerModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-page-handler="EditManufacturer">
                <input type="hidden" id="editId" asp-for="Manufacturer.ID" />

                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel"><i class="bi bi-pencil"></i>Edit Manufacturer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-6">
                            <!-- Name -->
                            <div class="form-floating mt-2">
                                <input type="text" class="form-control" id="editName" placeholder="Name" disabled />
                                <label for="editName">Name</label>
                                <p class="invalid" id="nameError"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- Contact -->
                            <div class="form-floating mt-2">
                                <input type="tel" class="form-control" id="editContact" placeholder="Contact"
                                    asp-for="Manufacturer.Contact" />
                                <label for="editContact">Contact</label>
                                <p class="invalid" id="contactError"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- Address -->
                            <div class="form-floating mt-2">
                                <input type="text" class="form-control" id="editAddress" placeholder="Address"
                                    asp-for="Manufacturer.StreetAddress" />
                                <label for="editAddress">Address</label>
                                <p class="invalid" id="addressError"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- City -->
                            <div class="form-floating mt-2">
                                <select class="form-select" id="editCity" aria-label="Default select example"
                                    asp-for="Manufacturer.City">
                                    <option value="-1" selected>Select City</option>
                                    @foreach (var city in Model.Cities)
                                    {
                                        <option value="@city">@city</option>
                                    }
                                </select>
                                <label for="editCity">City</label>
                                <p class="invalid" id="cityError"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- Province -->
                            <div class="form-floating mt-2">
                                <select class="form-select" id="editProvince" aria-label="Default select example"
                                    asp-for="Manufacturer.Province">
                                    <option value="-1" selected>Select Province</option>
                                    @foreach (var province in Model.Provinces)
                                    {
                                        <option value="@province">@province</option>
                                    }
                                </select>
                                <label for="editProvince">Province</label>
                                <p class="invalid" id="provinceError"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <!-- Country -->
                            <div class="form-floating mt-2">
                                <select class="form-select" id="editCountry" aria-label="Default select example"
                                    asp-for="Manufacturer.Country">
                                    <option value="-1" selected>Select Country</option>
                                    <option value="Pakistan">Pakistan</option>
                                </select>
                                <label for="editCountry">Country</label>
                                <p class="invalid" id="countryError"></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" id="addBtn" disabled>Add</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!--Delete Confirmation Modal-->
<div class="modal fade" id="deleteManufacturerModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form method="post" asp-page-handler="DeleteManufacturer">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel"><i class="bi bi-trash"></i> Delete Manufacturer
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <input type="hidden" id="deleteId" asp-for="DeleteID" />

                    <!-- Confirmation Message-->
                    <p>Are you sure you want to delete this manufacturer?</p>
                    <p>Manufacturer Name: <b id="deleteTitle"></b></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Delete</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--End Delete Confirmation Modal-->


<!-- Java Script Section -->
@section Scripts {
    <!-- Deletion -->
    <script>
        //Deleting
        function deleteManufacturer(id, name) {
            document.getElementById("deleteId").value = id;
            document.getElementById("deleteTitle").textContent = name;
        }

        //Editing
        function editManufacturer(name, contact, address, city, province, country) {
            document.getElementById("editName").value = name;
            document.getElementById("editContact").value = contact;
            document.getElementById("editAddress").value = address;
            document.getElementById("editCity").value = city;
            document.getElementById("editProvince").value = province;
            document.getElementById("editCountry").value = country;
        }

        // Adjust the DataTables initialization
        $(document).ready(function () {
            var table = $("#empTable").DataTable({
                paging: true,
                lengthChange: false,
                searching: true, // Disable DataTables default search
                ordering: true,
                info: true,
                autoWidth: false,
                language: {
                    emptyTable: "No data available",
                    info: "Showing _START_ to _END_ of _TOTAL_ entries",
                    infoEmpty: "Showing 0 to 0 of 0 entries",
                    infoFiltered: "(filtered from _MAX_ total entries)",
                    zeroRecords: "No matching records found",
                    search: "Search:",
                },
            });

            // Add event listener for your custom search bar
            $('#searchBar input').on('input', function () {
                var searchText = this.value.trim();
                table.search(searchText).draw();
            });
        });
    </script>


    <!-- Add Modal Validations and Submission -->
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var form = document.querySelector("#createManufacturerModal form");
            var submitButton = form.querySelector("#addBtn");

            // Define input fields and their corresponding error elements
            var fields = [
                { input: form.querySelector("#name"), error: document.querySelector("#nameError"), errorMessage: "Name is required" },
                { input: form.querySelector("#Contact"), error: document.querySelector("#contactError"), errorMessage: "Contact is required" },
                { input: form.querySelector("#Address"), error: document.querySelector("#addressError"), errorMessage: "Address is required" },
                { input: form.querySelector("#City"), error: document.querySelector("#cityError"), errorMessage: "City is required" },
                { input: form.querySelector("#Province"), error: document.querySelector("#provinceError"), errorMessage: "Province is required" },
                { input: form.querySelector("#Country"), error: document.querySelector("#countryError"), errorMessage: "Country is required" }
            ];

            // Add event listener for input fields
            form.addEventListener("input", function () {
                var errors = fields.some(function (field) {
                    if (field.input.value.trim() === "" || field.input.value === "-1") {
                        field.error.textContent = field.errorMessage;
                        field.error.style = 'display: block; font-size: 12px; color: red;';
                        field.input.classList.add("is-invalid");
                        return true;
                    } else {
                        field.error.textContent = "";
                        field.error.style.display = 'none';
                        field.input.classList.remove("is-invalid");
                        return false;
                    }
                });

                submitButton.disabled = errors;
            });
        });
    </script>


    <!-- Clearing form -->
    <script>
        // Function to clear form fields
        function clearFormFields(formId) {
            var form = document.querySelector(formId);
            form.reset();
            var errorMessages = form.querySelectorAll(".invalid");
            errorMessages.forEach(function (errorMessage) {
                errorMessage.textContent = "";
                errorMessage.style.display = "none";
            });
            var inputFields = form.querySelectorAll(".form-control");
            inputFields.forEach(function (inputField) {
                inputField.classList.remove("is-invalid");
            });
        }

        // Event listener for modal close button
        $('#createManufacturerModal').on('hidden.bs.modal', function (e) {
            clearFormFields('#createManufacturerModal form');
        });
    </script>
}